<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head.ejs')%>

  <body>
    
    <%- include('./partials/nav.ejs')%>

    <div class="about_content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam at obcaecati, aut, est necessitatibus esse eos voluptatibus qui nulla libero quod corrupti porro aperiam soluta maxime omnis beatae sequi. Nihil.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam at obcaecati, aut, est necessitatibus esse eos voluptatibus qui nulla libero quod corrupti porro aperiam soluta maxime omnis beatae sequi. Nihil.</p>
    </div>

    <%- include('./partials/footer.ejs')%>

  </body>
</html>
